Source: ros-jazzy-qrb-yolo-process
Section: misc
Priority: optional
Maintainer: Xiao Li <xiaolee@qti.qualcomm.com>
Build-Depends: debhelper-compat(=13), ros-jazzy-ament-cmake
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-qrb-yolo-process
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Library for Yolo pre/post process
